#!/bin/sh -

start_network()
{	
	dhcp_interfaces=""
	for ifn in ${network_interfaces}; do

		eval ifconfig_args=\$ifconfig_${ifn}
	
		case ${ifconfig_args} in
			'')
				;;
			[Dd][Hh][Cc][Pp])
				# DHCP inits are done all in one go below
				dhcp_interfaces="$dhcp_interfaces $ifn"
				eval showstat_$ifn=1
				;;
			*)
				ifconfig ${ifn} ${ifconfig_args}
				eval showstat_$ifn=1
		esac
	done
	
	if [ ! -z "${dhcp_interfaces}" ]; then
		dhcp_flags="-n ${dhcp_flags}"
		for dhcpif in ${dhcp_interfaces}
		do
			echo "${dhcp_program:-/sbin/udhcpc} ${dhcp_flags} ${dhcpif}"
			${dhcp_program:-/sbin/udhcpc} ${dhcp_flags} ${dhcpif}
			#added by beckerh
			#fail to get ip address from dhcp server

	    		if [ "$?" -ne 0 ]; then

				#debug_Aaron on 11/16/2005, support auto-select IP                     
                        	if [ -x /sbin/AVH-IPv4LL ]; then                                        
                                	/sbin/AVH-IPv4LL -v -s /etc/setautoip.sh                        
                        	fi

                		if [ -x /usr/sausalito/sbin/cced ]; then
                			/usr/sausalito/bin/sys_init set_default_ip  >/dev/null 2>&1
                			/usr/sausalito/bin/sys_init >/dev/null 2>&1
             				##add by vivian 2005/5/11
                  			/usr/sausalito/bin/sys_init start_dhcpd_server >/dev/null 2>&1   	
                		fi
      			else
      				##add by vivian 2005/5/11
          			if [ -x /usr/sausalito/sbin/cced ]; then
            				/usr/sausalito/bin/sys_init stop_dhcpd_server >/dev/null 2>&1   	
          			fi
      			fi
    		done		
  	fi
	
	for ifn in ${network_interfaces}; do
		eval showstat=\$showstat_${ifn}
		if [ ! -z ${showstat} ]; then
			ifconfig ${ifn}
		fi
	done
	
	
	# Configure routing
	#
	case ${defaultrouter} in
		[Nn][Oo] | '')
			;;
		*)
			echo "Add default router ${defaultrouter}"
			/bin/ip route add default via ${defaultrouter}
			;;
	esac
}
