body 
{     MARGIN-TOP       : 0;
      MARGIN-BOTTOM    : 0;
      MARGIN-LEFT      : 10;
      MARGIN-RIGHT     : 0 ;
	  FONT-FAMILY      : Arial, Helvetica, Verdana, sans-serif;
	  COLOR            : #020202; 
}

.TITLE  
{	   FONT-SIZE   : 15pt;
	   COLOR       : #5293D5;
	   FONT-FAMILY : Arial;
	   FONT-WEIGHT : Bold;
	   LINE-HEIGHT : 30pt;
	   TEXT-ALIGN  : Left
}

.TITLE1 
{      FONT-SIZE   : 12pt;
	   COLOR       : #5293D5;
	   FONT-FAMILY : Arial;
	   FONT-WEIGHT : 500;
	   TEXT-ALIGN  : Left
}

.CAPTION 
{       FONT-SIZE   : 11pt;
	    COLOR       : #9BACBB;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : 400;
	    LINE-HEIGHT : 11pt;
	    TEXT-ALIGN  : Center
}

.HEAD    
{		FONT-SIZE   : 14px;
	    COLOR       : #9BACBB;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : 500;
	    TEXT-ALIGN  : Left;
}

.HEAD1   
{		FONT-SIZE   : 14px;
	    COLOR       : #9BACBB;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : 500;
	    TEXT-ALIGN  : Center
}

.CONTENT 
{		FONT-SIZE   : 14px;
	    COLOR       : #202020;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : normal;
}

.CONTENT1
{		FONT-SIZE   : 14px;
	    COLOR       : #202020;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : 500;
	    TEXT-ALIGN  : Center
}

.CONTENT2
{		FONT-SIZE   : 16px;
	    COLOR       : #000000;
	    FONT-FAMILY : Arial;
	    FONT-WEIGHT : Left;
}


table.BORDER {BORDER-COLOR : #C0C0C0}

.button 
{	 BACKGROUND       : url('../image/button_bg1.gif');
     COLOR            : #FFFFFF ;
	 FONT-SIZE        : 14px ;
	 FONT-FAMILY      : Arial ;
	 TEXT-ALIGN       : Center
}
	 
